@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --dark-blue: hsl(218, 44%, 22%);
  --light-blue: hsl(218, 44%, 50%);
}

body {
  margin: 0;
  width: 100vw;
  display: flex;
  font-size: 1rem;
  padding: 5rem 5%;
  min-height: 100vh;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray);
}

.counter {
  &__title {
    font-size: 5rem;
    text-align: center;
    margin-top: 1.5rem;
    line-height: 1.8rem;
    color: var(--dark-blue);
  }

  &__content {
    gap: 1rem;
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 100%;
    gap: 0.5rem;
    border: none;
    display: flex;
    padding: 1rem;
    font-weight: 500;
    color: var(--white);
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    background-color: var(--dark-blue);
    transition: background-color 0.3s linear;

    &:hover {
        cursor: pointer;
        background-color: var(--light-blue);
    }
  }
}